body {
	background-color: #222;
}

a {
	display: block;
}

.buttonAsLink {
     background:none!important;
     border:none; 
     cursor: pointer;
     color: white;
}

#LoginForm, #RegisterForm {
	text-align: center;
	width: 25%;
}

.flex-container{
  display: -webkit-box; 
  display: -ms-flexbox;  
  display: -webkit-flex;
  display: flex;         
  
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 100%;
}

.inner-element{
  width: 100%;
  height: 100%;
}

#moviesTable {
	width: 100%;
	text-align: center;
	background-color: white;
}

#projectionsTable {
	width: 100%;
	text-align: center;
	background-color: white;
}

#moviesSearchBox {
	width:100%;
	overflow:hidden;
	position:relative;
}


#searchOptions {

	float:left;
	position:relative;
}

 #searchMovieInputBox {

 	float:left;
 	position:relative;
 
 }
 
 #searchMovieBtnBox {

 	float:right;
 	position:relative;
 }

label {
	color: white;
}

h2 {
	color: white;
}