body {
	background-color: #222;
}

a {
	display: block;
}

.buttonAsLink {
     background:none!important;
     border:none; 
     cursor: pointer;
     color: white;
}



#newProjectionTime::-webkit-datetime-edit-ampm-field {
   display: none;
 }
 input[type=time]::-webkit-clear-button {
   -webkit-appearance: none;
   -moz-appearance: none;
   -o-appearance: none;
   -ms-appearance:none;
   appearance: none;
   margin: -10px; 
 }

#LoginForm, #RegisterForm {
	text-align: center;
	width: 25%;
}

.flex-container{
  display: -webkit-box; 
  display: -ms-flexbox;  
  display: -webkit-flex;
  display: flex;         
  
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 100%;
}

.inner-element{
  width: 100%;
  height: 100%;
}

#moviesTable {
	width: 100%;
	text-align: center;
	background-color: white;
}

#projectionsTable {
	width: 100%;
	text-align: center;
	background-color: white;
}

#usersTable {
	width: 100%;
	text-align: center;
	background-color: white;
}

#ticketsTable {
	width: 100%;
	text-align: center;
	background-color: white;
}

#projectionTicketsTable {
	width: 100%;
	text-align: center;
	background-color: white;
}

#buyTicketFromMovieTable {
	width: 100%;
	text-align: center;
	background-color: white;
}

#moviesSearchBox {
	width:100%;
	position:relative;
}


#searchOptions {

	float:left;
	position:relative;
}

 #searchMovieInputBox {

 	float:left;
 	position:relative;
 
 }
 
 #searchMovieBtnBox {

 	float:left;
 	position:relative;
 }
 
 #durationSearch {
 	float:right;
 	position:relative;
 	width:25%;
 }
 
 #labelFrom, #labelTo, #labelF, #labelT, #labelMin, #labelMax {
	color: black;
}

#wrapper {
  display: flex;
}

#projectionFilterDate {
	flex: 0 0 35%;
}

#projectionFilterTicket {
	flex: 1;
}

label {
	color: white;
}

h2 {
	color: white;
}

