body {
	background-color: #222;
}

a {
	display: block;
}

.buttonAsLink {
     background:none!important;
     border:none; 
     cursor: pointer;
     color: white;
}

#LoginForm, #RegisterForm {
	text-align: center;
	width: 25%;
}

#moviesTable {
	width: 75%;
	text-align: center;
	background-color: white;
}

#moviesSearchBox {
	width:100%;
	overflow:hidden;
	position:relative;
}


#searchOptions {

	float:left;
	position:relative;
}

 #searchMovieInputBox {

 	float:left;
 	position:relative;
 
 }
 
 #searchMovieBtnBox {

 	float:right;
 	position:relative;
 }

label {
	color: white;
}